ul{
  float: left; 
}
h1{
  font-family:Georgia,Times, sans-serrif;
  text-align: center; 
}
table {
  font-family:Georgia,Times, sans-serrif;
  border-collapse: collapse;
  width: 90%;
}

td, th{
  border: 1px solid #;
  text-align: left;
  padding: 8px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
h2{
  font-family:Georgia,Times, sans-serrif;
  font-size: 30px;
}
h3{
    font-size: 20px;
}
